**.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build
/captures
/test

/app/src/main/jniLibs
/livesdk
/CameraCompat/src/main/java/tv/yoloyolo/ios/beautify
/CameraCompat/src/main/res/drawable/map.png
